
<p-panel >

  <ng-template pTemplate="header">
    <h1>Sistema de Inventario en Línea (InvOn)</h1>
  </ng-template>
  <p-panel>
    <p-card class="description-card" [style]="{ 'max-width': '640px' }">
      <p class="text-xl line-height-3 text-700">{{ description }}</p>
    </p-card>

    <p-galleria
        [value]="imagenes"
        [showThumbnails]="false"
        [showIndicators]="true"
        [indicatorsPosition]="'bottom'"
        [autoPlay]="true"
        [responsiveOptions]="responsiveOptions"
        [circular]="true"
        [transitionInterval]="3000"
        [containerStyle]="{ 'max-width': '400px', 'margin': '0 auto' }"
        >
        <ng-template #item let-item>
          <img
              [src]="item.url"
              [alt]="item.alt"
              style="width: 100%; aspect-ratio: 16/9; object-fit: cover; border-radius: 8px;"
          />
        </ng-template>

    </p-galleria>

  </p-panel>
</p-panel>
